.projects_layout {
   background-color: #2b2b2b;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

@media (min-width: 1024px) { 
   .projects_layout {
     padding-top:150px;
     margin-left: 50px;
   }
  }
