.projects_layout {
   background-color: #09090b;
   padding: 20px;
   display: flex;
   flex-direction: column;
   animation: fadeInAnimation ease 2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.projects_layout h1 {
   font-family: "Jost", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
}

@keyframes fadeInAnimation {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@media (min-width: 1024px) {
   .projects_layout {
      padding-top: 150px;
      margin-left: 40px;
   }
}
